/agent-*
/coverage
/covdir
/gopath
/gopath.proto
/release
/bin
*.etcd
*.log
/etcd
/hack/insta-discovery/.env
*.coverprofile
*.test
hack/tls-setup/certs
.idea
/contrib/raftexample/raftexample
/contrib/raftexample/raftexample-*
/vendor

*.bak
