@mixin co-x-custom-font(
  $font-family,
  $font-filename,
  $font-weight : normal,
  $font-style :normal,
  $font-stretch : normal
) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$font-path}/#{$font-filename}.eot');
    src: url('#{$font-path}/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/#{$font-filename}.woff') format('woff'),
         url('#{$font-path}/#{$font-filename}.ttf') format('truetype'),
         url('#{$font-path}/#{$font-filename}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}
