// Root path where you plan to host coreos-web.
$coreosWebDistPath: '/mod/dashboard/static/coreos-web/';
//                  ^^^^^^^^^^ Change this.
$coreosWebFontPath: $coreosWebDistPath + 'fonts/';


// Override fontawesome font paths.
$fa-font-path: $coreosWebFontPath;

// Override bootstrap font paths.
$icon-font-path: $coreosWebFontPath;

// CoreOS-web font path.
$font-path: $coreosWebFontPath;
// CoreOS-web image path.
$img-path: $coreosWebDistPath + 'img';
