html {
  height: 100%;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding: 30px;
  margin: 0px;
  height: 100%;
}
h1 {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

a {
    color: #1e6ec1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#footer {
    width: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
}

#coreos-logo {
    margin: 10px auto 0 auto;
    height: 30px;
    width: 80px;
}

#coreos-logo svg {
    fill: #999;
    MAX-WIDTH: 100PX;
    DISPLAY: INLINE-BLOCK;
    VERTICAL-ALIGN: MIDDLE;
}

#POWERED-BY {
    FONT-SIZE: 12PX;
    COLOR: #333;
    WIDTH: 100%;
    DISPLAY: INLINE-BLOCK;
    VERTICAL-ALIGN: MIDDLE;
    LINE-HEIGHT: 190%;
    TEXT-ALIGN: CENTER;
}
