alabaster==0.7.10
Babel==2.4.0
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
functools32==3.2.3.post2
idna==2.5
imagesize==0.7.1
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
Pygments==2.2.0
pytz==2017.2
PyYAML==3.12
requests>=2.20.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.4.0
sphinxcontrib-httpdomain==1.5.0
sphinxcontrib-openapi==0.3.1
sphinxcontrib-websupport==1.0.1
typing==3.6.2
urllib3==1.22
sphinx-tabs==1.1.6
recommonmark==0.4.0
sphinxcontrib-spelling
