---
name: E2E-Arm64
on: [push, pull_request]
permissions: read-all
jobs:
  test:
    # this is to prevent the job to run at forked projects
    if: github.repository == 'etcd-io/etcd'
    runs-on: actuated-arm64-8cpu-8gb
    strategy:
      fail-fast: false
      matrix:
        target:
          - linux-arm64-e2e
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - env:
          TARGET: ${{ matrix.target }}
        run: |
          set -euo pipefail
          go clean -testcache

          echo "${TARGET}"
          case "${TARGET}" in
            linux-arm64-e2e)
              GOOS=linux GOARCH=arm64 CPU=4 EXPECT_DEBUG=true make test-e2e-release
              ;;
            *)
              echo "Failed to find target"
              exit 1
              ;;
          esac
