---
name: Reusable Arm64 E2E Workflow
on:
  workflow_call:
    inputs:
      etcdBranch:
        required: true
        type: string
permissions: read-all
jobs:
  test:
    # this is to prevent the job to run at forked projects
    if: github.repository == 'etcd-io/etcd'
    runs-on: [self-hosted, Linux, ARM64]
    container: golang:1.20-bullseye
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: true
      matrix:
        target:
          - linux-arm64-e2e
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          ref: "${{ inputs.etcdBranch }}"
      # https://github.com/actions/checkout/issues/1169
      - run: git config --system --add safe.directory '*'
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - env:
          TARGET: ${{ matrix.target }}
        run: |
          set -euo pipefail
          go clean -testcache

          echo "${TARGET}"
          case "${TARGET}" in
            linux-arm64-e2e)
              GOOS=linux GOARCH=arm64 CPU=4 EXPECT_DEBUG=true make test-e2e-release
              ;;
            *)
              echo "Failed to find target"
              exit 1
              ;;
          esac
