name: Robustness
on: [push, pull_request]
permissions: read-all
jobs:
  test:
    uses: ./.github/workflows/robustness-template.yaml
    with:
      ref: ${{ github.ref }}
      count: 15
      testTimeout: 30m
      artifactName: test
