name: Tests-arm64
on:
  schedule:
    - cron: '30 1 * * *' # runs daily at 1:30 am.
jobs:
  test:
    # this is to prevent the job to run at forked projects
    if: github.repository == 'etcd-io/etcd'
    runs-on: [Linux, ARM64]
    strategy:
      fail-fast: false
      matrix:
        target:
        - linux-arm64-integration-1-cpu
        - linux-arm64-integration-2-cpu
        - linux-arm64-integration-4-cpu
        - linux-arm64-unit-4-cpu-race
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
    - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        ref: main
        go-version: "1.19.7"
    - run: date
    - env:
        TARGET: ${{ matrix.target }}
      run: |
        set -euo pipefail

        mkdir "${TARGET}"
        export JUNIT_REPORT_DIR=$(realpath ${TARGET})
        case "${TARGET}" in
          linux-arm64-integration-1-cpu)
            GOARCH=arm64 CPU=1 PASSES='integration' RACE='false' ./scripts/test.sh
            ;;
          linux-arm64-integration-2-cpu)
            GOARCH=arm64 CPU=2 PASSES='integration' RACE='false' ./scripts/test.sh
            ;;
          linux-arm64-integration-4-cpu)
            GOARCH=arm64 CPU=4 PASSES='integration' RACE='false' ./scripts/test.sh
            ;;
          linux-arm64-unit-4-cpu-race)
            GOARCH=arm64 PASSES='unit' RACE='true' CPU='4' ./scripts/test.sh -p=2
            ;;
          *)
            echo "Failed to find target"
            exit 1
            ;;
        esac
    - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
      if: always()
      with:
        path: ./**/junit_*.xml
