---
name: Reusable Arm64 Integration Workflow
on:
  workflow_call:
    inputs:
      etcdBranch:
        required: true
        type: string
      gofailMake:
        required: false
        type: string
        default: "yes"
permissions: read-all

jobs:
  test:
    # this is to prevent the job to run at forked projects
    if: github.repository == 'etcd-io/etcd'
    runs-on: [self-hosted, Linux, ARM64]
    container: golang:1.20-bullseye
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        target:
          - linux-arm64-integration-1-cpu
          - linux-arm64-integration-2-cpu
          - linux-arm64-integration-4-cpu
          - linux-arm64-unit-4-cpu
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          ref: "${{ inputs.etcdBranch }}"
      # https://github.com/actions/checkout/issues/1169
      - run: git config --system --add safe.directory '*'
      - id: goversion
        run: echo "goversion=$(cat .go-version)" >> "$GITHUB_OUTPUT"
      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: ${{ steps.goversion.outputs.goversion }}
      - env:
          TARGET: ${{ matrix.target }}
        run: |
          set -euo pipefail
          go clean -testcache

          mkdir "${TARGET}"
          export JUNIT_REPORT_DIR=$(realpath ${TARGET})
          case "${TARGET}" in
            linux-arm64-integration-1-cpu)
              if [ "${{ inputs.gofailMake }}" == "yes" ]; then make gofail-enable; fi
              GOOS=linux GOARCH=arm64 CPU=1 make test-integration
              ;;
            linux-arm64-integration-2-cpu)
              if [ "${{ inputs.gofailMake }}" == "yes" ]; then make gofail-enable; fi
              GOOS=linux GOARCH=arm64 CPU=2 make test-integration
              ;;
            linux-arm64-integration-4-cpu)
              if [ "${{ inputs.gofailMake }}" == "yes" ]; then make gofail-enable; fi
              GOOS=linux GOARCH=arm64 CPU=4 make test-integration
              ;;
            linux-arm64-unit-4-cpu)
              GOOS=linux GOARCH=arm64 CPU=4 GO_TEST_FLAGS='-p=2' make test-unit
              ;;
            *)
              echo "Failed to find target"
              exit 1
              ;;
          esac
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        if: always()
        with:
          path: ./**/junit_*.xml
